body{
    background-color: #eaf3da;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
    line-height: 1.8em;
}
h1{
    font-size: 280%;
}
h2{
    font-family: cursive;
}
h3{
    text-decoration: underline;
}
h5{
    font-weight: bold;
}
h4.inputText{
    font-size: 125%;
}
.greater{
    font-size: 300%;
}
h2.font-rosa{
    color: rgb(251, 125, 241);
}
h2.font-rosachoque{
    color: rgb(236, 0, 118);
}
h2.font-azulclaro{
    color: rgb(86, 250, 241);
}
h2.font-azulforte{
    color: rgb(2, 30, 162);
}
h2.font-verde{
    color: rgb(0, 128, 0);
}
h2.font-azulescuro{
    color: rgb(14, 14, 248);
}
h2.font-laranja{
    color: orange;
}
h2.font-rosapink{
    color: #ff0099;
}
h2.font-preto{
    color: #034f50;
}
h2.font-amarelo{
    color: yellow;
}
h2.font-azulpiscina{
    color: #85f6f7;
}
h2.font-violet{
    color: #a223dd;
}
h2.font-salmao{
    color: #dd7ea4;
}
code{
    background-color: silver;
}
button.navbar-toggler{
    position:relative;
    left: 50%;
    transform: translate(-50%);
    float: left;        
    margin-right:15px;    
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
a:link{
    color: #eeeeee;
    text-decoration: underline;
}
a:visited{
    color: #0062cc;
    text-decoration: underline;
}
a:hover{
    background: #f88396;
    color: orange;
}
